---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>The About Me Page</h1>
        <h2>So Who Am I Really</h2>
        <p>
            so this page is about learning and relearning, hop this is never
            forgottom
        </p>

        <p>
            This site will update as I complete more things with this platform
        </p>
    </body>
</html>
