---
import Nav from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Nav />
    </nav>
</header>
